.posts .post{
	padding-left: 10px;
	border-left: 3px solid #a21b24;
	margin-bottom: 30px;
}
.posts .post .info{
color: #aaa;
font-style: italic;


}
.single{
margin-top: 80px;

}
.title{


}
.posts .post-comment{

margin-left: 50px;
width: 576px;

max-height: 40px;
margin-bottom: 10px;


}

.posts .post-button{




}
.article-area{
min-height: 300px;


}
.comments{

	margin-top: 20px;
}

.comments .comment-by-user{

margin-bottom: 20px;
background: #DCDCDC;
margin-left: 50px;
width: 91%;
padding-top: 20px;

}
.comments .comment-by-user .name , .body{

margin-top: 5px;
margin-left: 20px;


}
.comments .comment-by-user .info{

	color: #aaa;
font-style: italic;
margin-left: 20px;

}